.shipInfo {
    color: white;
}

.shipInfo h1 {
    text-align: center;
}

.shipInfo_img {
    margin: 0 auto;
    width: fit-content;
    padding: 20px 0;
}

.shipInfo_content {
    margin: 0 auto;
    width: fit-content;
    text-align: center;
    text-transform: uppercase;
}

.shipInfo_content span,
.shipInfo_footer span {
    color: gray;
}

.shipInfo_footer {
    padding: 50px 10px;
    display: flex;
    justify-content: space-between;
}

.shipInfo_crew_pilots span,
.shipInfo_crew_pilots,
.shipInfo_films {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.pilot {
    max-width: 50px;
}

.pilot img {
    width: 100%;
    cursor: pointer;
}