.ship {
    background-color: rgb(23, 23, 23);
    padding: 20px;
    box-sizing: border-box;
    color: white;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 25px;
}

a {
    text-decoration: none;
}